h1{
    color: crimson;
}
body{
background-image: url(pizza.jpg);
}
img{
    width:200px;
}
div{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    
}
#thirdDiv{
    height: 600px;
    width: 600px;
    background-color: rosybrown;
    padding: 50px;
    border: 1060px;
    border-color: blueviolet;
    list-style: none;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}
